:root {
    --primary-color: #ef5350; /* Rojo Pokémon */
    --bg-color: #f4f4f9;
    --panel-bg: #ffffff;
    --text-color: #333333;
    --border-radius: 8px;
    --shadow: 0 4px 6px rgba(0,0,0,0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 20px;
}